@use './variables' as *;
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/core.css';
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/flex-utils.css';
@import '@ionic/angular/css/display.css';


app-root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
  }

  ion-col {
	display: flex;
	justify-content: center;
  }
  
  ion-button {
	width: 100%;
	padding: 0;
	max-width: 400px;
  }

  ion-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--background: var(--ion-color-background);
  }

  ion-app {
	--background: var(--ion-color-background);
  }

  ion-card {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--ion-color-secondary-tint);
	border: 1px solid var(--ion-color-tertiary);
	color: var(--ion-color-tertiary-contrast);
  }

  ion-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: var(--ion-color-primary-shade);
  }
	
  ion-text {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: var(--ion-color-primary-shade);
	margin: 3px;
	padding: 3px;
  }

  ion-icon {
	margin: 1px;
	min-width: 24px;
	min-height: 24px;
	font-size: 24px;
	color: var(--ion-color-primary);
  }

  ion-row {
	justify-content: center;
  }

  ion-toolbar {
	--background: var(--ion-color-tertiary-shade);
  }

  ion-item {
	width: 100%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--background: var(--ion-color-secondary-tint);
	border: 1px solid var(--ion-color-tertiary);
	color: var(--ion-color-tertiary-contrast);
  }

.header-button {
	padding-right: 4px;
}

.cta {
	display: flex;
	gap: 10px;
}

.home-footer {
	display: flex;
	justify-content: end;
	width: 100%;
}

.footer-title {
	width: 100%;
}