<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
	<div slot="end" class="cta">
		<ion-button class="header-button" routerLink="/home" color="secondary">
			<ion-text>Accedi</ion-text> 
		</ion-button>
	</div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<section class="hero">
		<div class="hero-text">
		<ion-title class="hero-title">Prenditi cura delle tue piante</ion-title>
		<ion-text class="hero-text">Monitora, annaffia e ama il tuo giardino digitale.</ion-text>
		</div>
	</section>

  <form class="login-form">
    <!-- Nickname -->
    <ion-item>
      <ion-label position="floating">Nickname</ion-label>
      <ion-input 
        type="text" 
        [value]="nickname" 
        (ionInput)="onNicknameInput($event)" 
        required
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="!nickname && isLoading === false" color="danger">
      Il nickname è obbligatorio
    </ion-note>

    <!-- Password -->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input 
        type="password" 
        [value]="password" 
        (ionInput)="onPasswordInput($event)" 
        required
      ></ion-input>
    </ion-item>
    <ion-note *ngIf="password.length < 6 && isLoading === false" color="danger">
      La password deve avere almeno 6 caratteri
    </ion-note>

    <!-- Login Button -->
    <ion-button 
      expand="block"  
      [disabled]="!nickname || password.length < 6 || isLoading"
	  (click)="onSubmit()"
    >
      <ion-spinner *ngIf="isLoading"></ion-spinner>
      <span *ngIf="!isLoading">Login</span>
    </ion-button>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</ion-content>

<ion-footer class="home-footer">
	<ion-toolbar>
		<ion-title slot="end" size="small" class="footer-title">
			&copy; 2025 PlantCare. Tutti i diritti riservati.
		</ion-title>
	</ion-toolbar>
</ion-footer>